.quick-actions-button {
    color: white;
    border: none;
    background: transparent;
}

.quick-actions-button:hover {
    color: red;
    cursor: pointer;
}

.quick-actions-watch-later-under-video-icon {
    padding-left: .6em;
    vertical-align: .1em !important;
}

.quick-actions-watch-later-home-icon {
    /*vertical-align: 2.6em !important;*/
    /*padding-right: 1.6em !important;*/
}