.quick-actions-button, .quick-actions-watch-later-under-video-button {
    color: white;
    border: none;
    background: transparent;
}

.quick-actions-button:hover, .quick-actions-watch-later-under-video-button:hover {
    color: red;
    cursor: pointer;
}

.quick-actions-watch-later-under-video-icon {
    padding-left: .6em;
    vertical-align: .1em !important;
}