name: "Release (Dry Run)"
run-name: "Release ${{ github.ref_name }} (Dry Run)"
on: workflow_dispatch

jobs:
  linting:
    name: Linting Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
      - name: Install npm dependencies
        run: npm ci
      - name: Run commitlint
        run: npx commitlint --last --verbose
      - name: Run Eslint
        run: npm run eslint
      - name: Run prettier check
        run: npm run prettier:check
  run-tests:
    needs:
      - linting
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
      - name: Install npm dependencies
        run: npm ci
      - name: Run tests
        run: npm run test
  create-releases:
    needs:
      - run-tests
    name: create releases
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
      - name: Install npm dependencies
        run: npm ci
      - name: Update version in package(-lock).json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npx semantic-release -d > dry-run.txt
          NEXT_VERSION=$(awk '/The next release version is/{print $NF}' dry-run.txt)
          sed -i "s/\"version\": \".*\"/\"version\": \"$NEXT_VERSION\"/" package.json
          sed -i "1,9s/\"version\": \".*\"/\"version\": \"$NEXT_VERSION\"/" package-lock.json
          echo "The next version is $NEXT_VERSION"
          rm dry-run.txt
      - name: Build Firefox
        run: |
          npm run zip:firefox
          ls -l .output
      - name: Build Chrome
        run: |
          npm run zip
          ls -l .output
      - name: Create Checksum of firefox package
        run: |
          NEXT_VERSION=$(awk '/The next release version is/{print $NF}' dry-run.txt)
          sha512sum ".output/yt-quick-actions-$NEXT_VERSION-firefox.zip" > ".output/yt-quick-actions-$NEXT_VERSION-firefox.sha512sum"
          cat .output/yt-quick-actions-$NEXT_VERSION-firefox.sha512sum
      - name: Create Checksum of chrome package
        run: |
          NEXT_VERSION=$(awk '/The next release version is/{print $NF}' dry-run.txt)
          sha512sum ".output/yt-quick-actions-$NEXT_VERSION-chrome.zip" > ".output/yt-quick-actions-$NEXT_VERSION-chrome.sha512sum"
          cat .output/yt-quick-actions-$NEXT_VERSION-chrome.sha512sum
      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release -d
      - name: Submit to stores
        run: |
          npx wxt submit --dry-run \
            --chrome-zip .output/*-chrome.zip \
            --firefox-zip .output/*-firefox.zip --firefox-sources-zip .output/*-sources.zip
        env:
          CHROME_EXTENSION_ID: ${{ secrets.CHROME_EXTENSION_ID }}
          CHROME_CLIENT_ID: ${{ secrets.CHROME_CLIENT_ID }}
          CHROME_CLIENT_SECRET: ${{ secrets.CHROME_CLIENT_SECRET }}
          CHROME_REFRESH_TOKEN: ${{ secrets.CHROME_REFRESH_TOKEN }}
          FIREFOX_EXTENSION_ID: ${{ secrets.FIREFOX_EXTENSION_ID }}
          FIREFOX_JWT_ISSUER: ${{ secrets.FIREFOX_JWT_ISSUER }}
          FIREFOX_JWT_SECRET: ${{ secrets.FIREFOX_JWT_SECRET }}
